Repository pbrego/supreme-palm-tree: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore: first commit
  .husky/pre-commit
  .husky/pre-push
  clients/react-app-vite/src/App.tsx
  libs/web-common-ui/index.ts
  libs/web-common-ui/src/components/button/button.styles.ts
  libs/web-common-ui/src/components/button/button.test.tsx
  libs/web-common-ui/src/components/button/button.tsx
  libs/web-common-ui/src/components/button/button.types.ts
Due: eslint --cache --fix, prettier --write

chore: react query learning
  clients/react-app-vite/package.json
  clients/react-app-vite/src/app/app.test.tsx
  clients/react-app-vite/src/app/app.tsx
  clients/react-app-vite/src/app/index.ts
  clients/react-app-vite/src/index.css
  clients/react-app-vite/src/main.tsx
  clients/react-app-vite/tsconfig.json
  libs/react-query/.eslintrc.js
  libs/react-query/README.md
  libs/react-query/index.ts
  libs/react-query/jest.config.ts
  libs/react-query/jest.setup.ts
  libs/react-query/package.json
  libs/react-query/src/index.tsx
  libs/react-query/src/utils/axios-utils.ts
  libs/react-query/src/utils/react-query.ts
  libs/react-query/tsconfig.build.json
  libs/react-query/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: react query learning
  clients/react-app-vite/src/app/app.tsx
  clients/react-app-vite/src/main.tsx
  libs/react-query/src/index.tsx
  libs/react-query/src/utils/axios-utils.ts
Due: eslint --cache --fix, prettier --write

chore: react query learning
  libs/react-query/package.json
Due: none

chore: react query learning
  clients/react-app-vite/src/app/app.test.tsx
Due: eslint --cache --fix, prettier --write

chore: react query learning
  clients/react-app-vite/package.json
Due: none

chore: wip
  clients/react-app-vite/jest.config.ts
  clients/react-app-vite/src/app/app.tsx
  libs/react-query/jest.config.ts
  libs/react-query/package.json
  libs/react-query/src/components/fetch-container/fetch-container.test.tsx
  libs/react-query/src/components/fetch-container/fetch-container.tsx
  libs/react-query/src/components/fetch-container/fetch-container.types.ts
  libs/react-query/src/components/fetch-container/index.ts
  libs/react-query/src/components/list.tsx
  libs/react-query/src/components/loading-indicator.tsx
  libs/react-query/src/features/users/components/page.tsx
  libs/react-query/src/features/users/hooks/index.ts
  libs/react-query/src/features/users/index.tsx
  libs/react-query/src/features/users/services/index.ts
  libs/react-query/src/index.tsx
  libs/react-query/src/utils/axios.ts
  libs/react-query/src/utils/react-query.ts
  libs/web-common-ui/jest.config.ts
  package.json
Due: eslint --cache --fix, prettier --write

chore: wip
  libs/react-query/src/components/list.tsx
Due: eslint --cache --fix, prettier --write

chore: wip
  libs/react-query/src/components/fetch-container/fetch-container.tsx
Due: eslint --cache --fix, prettier --write

chore: wip
  clients/react-app-vite/.eslintignore
  libs/react-query/.eslintignore
  libs/react-query/package.json
  libs/react-query/src/components/fetch-container/fetch-container.types.ts
  libs/react-query/src/features/users/components/page.tsx
  libs/react-query/src/index.tsx
  libs/react-query/tsconfig.build.json
  libs/web-common-ui/.eslintignore
  libs/web-common-ui/tsconfig.build.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: wip
  libs/react-query/src/components/fetch-container/fetch-container.tsx
  libs/react-query/src/components/fetch-container/fetch-container.types.ts
  libs/react-query/src/components/list.tsx
Due: eslint --cache --fix, prettier --write

chore: add prettier
  .husky/pre-commit
Due: none

chore: add prettier
  libs/react-query/src/features/users/components/page.tsx
Due: eslint --cache --fix, prettier --write

chore: add prettier
  configs/eslint-shared/index.js
  libs/react-query/src/components/fetch-container/fetch-container.tsx
  libs/react-query/src/components/list.tsx
  libs/react-query/src/features/users/components/page.tsx
Due: eslint --cache --fix, prettier --write

chore: format
  libs/react-query/src/components/list.tsx
Due: eslint --cache --fix, prettier --write

chore: last git hook
  .husky/pre-push
Due: none

chore: build libs
  .husky/pre-push
  lerna.json
  package.json
Due: none

chore: build scripts
  .husky/pre-push
  package.json
Due: none

chore: build scripts
  package.json
Due: none

chore: build app
  clients/react-app-vite/jest.config.ts
  clients/react-app-vite/package.json
  clients/react-app-vite/tsconfig.json
  clients/react-app-vite/vite.config.ts
  jest.config.base.js
  libs/react-query/src/features/users/components/page.tsx
  libs/react-query/src/features/users/hooks/index.ts
  libs/react-query/src/index.tsx
  libs/react-query/src/utils/axios.ts
  libs/react-query/src/utils/react-query.ts
  package.json
  tsconfig.build.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: build app
  jest.config.base.js
Due: eslint --cache --fix, prettier --write

chore: build app
  clients/react-app-vite/jest.config.ts
  clients/react-app-vite/jest.setup.ts
  clients/react-app-vite/package.json
Due: eslint --cache --fix, prettier --write

chore: build app
  yarn.lock
Due: none

chore(config): combine lib coverage reports
  jest.config.ts
  package.json
  scripts/aggregate-packages-coverage.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore(config): update readme file
  README.md
Due: prettier --write

chore: add placeolder test
  libs/ant-components/src/index.test.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx,less,md,mdx,svg}
